## Importing and Exporting Data in Python

* Data acquisition is a process of loading and reading data into notebook from various sources. 
* To read any data using Python's Pandas package, there are two important factors to consider: format and file path.
* Format is the way data is encoded. We can usually tell different encoding schemes by looking at the ending of the file name. Some common encodings are CSV, JSON, XLSX, HDF, and so forth. 
* File path tells us where the data is stored. Usually it is stored either on the computer we are using, or online on the internet.
#### Handling Missing Headers
* If the dataset lacks headers, use header=None to prevent default column naming.
* Assign meaningful column names for better readability:
 headers = ["Symboling", "Normalized Losses", "Make", "Fuel Type", "Price"] 
 df.columns = headers
#### Inspecting Imported Data
* Check the first few rows using df.head() and the last few rows using df.tail().
* Use df.info() to view data types and missing values.
* Use df.describe() for statistical summaries like mean, median, and range.
#### Exporting Data
* After analysis or modifications, save the dataset using df.to_csv("cleaned_data.csv", index=False).
* index=False prevents Pandas from adding row numbers as an extra column.
#### Supporting Other File Formats
Read-Save
* Excel: pd.read_excel() and df.to_excel()
* JSON: pd.read_json() and df.to_json()
* SQL Databases: pd.read_sql() and df.to_sql()

In [19]:
import pandas as pd
url = "C:/Users/priya/Downloads/Skills $ certificates/Data analysis using Python/automobile/imports-85.data" #local
# url2= "https://archive.ics.uci.edu/ml/machine-learningdatabases/autos/imports-85.data" #online
df = pd.read_csv(url, header=None)

df.head(5)
df.tail(5)
headers = ["symboling","normalized-losses","make", "fuel-type", "aspiration",
           "num-of-doors", "body-style", "drive-wheels", "engine-location",
           "wheel-base", "length", "width","height","curb-weight",
           "engine-type","num-of-cylinders","engine-size", "fuel-system","bore","stroke",
           "compression-ratio","horsepower","peak-rpm","city-mpg",
           "highway-mpg","price"]
df.columns = headers
df.head(5)

path = "C:/Users/priya/Downloads/Skills $ certificates/Data analysis using Python/automobile/generated.csv"
df.to_csv(path)

### Getting Started with Analyzing Data in Python

Analyzing data in Python begins with understanding the structure, types, and distribution of data within a dataset. 

#### 1. Checking Data Types
Data in Pandas can be stored as object (string), float (decimal), int (integer), or datetime (date/time format). Checking data types is crucial because:
- Pandas automatically assigns data types based on the dataset encoding, which may not always be accurate.
- Certain mathematical operations only work on numerical columns, so incorrect types must be corrected.
- If a column like price or engine size is mistakenly assigned an 'object' type instead of 'float', we may need to manually convert it.

#### 2. Summarizing Data
Understanding the distribution of values in each column helps detect issues such as missing values, outliers, and large deviations. Pandas provides the 'describe()' method to generate a summary of numerical columns.

#### Basic Summary Statistics
df.describe()

This returns:
- `count` – Number of non-null values.
- `mean` – Average value.
- `std` – Standard deviation (how spread out the values are).
- `min` / `max` – Minimum and maximum values.
- `25%`, `50%` (median), `75%` – Quartiles dividing data into 4 equal parts.

By default, `describe()` works only for numeric columns. To include all columns, including categorical (text) data, use:

df.describe(include="all")

For categorical columns, this returns:
- `unique` – Number of distinct values.
- `top` – Most frequent value.
- `freq` – Number of times the top value appears.

If a column contains `NaN` (Not a Number), it means that statistic cannot be calculated for that data type.


#### 3. Checking Dataset Information
To get a concise summary of the dataset, including column names, non-null values, and memory usage, use:
df.info()
This helps:
- Identify missing values in columns.
- Understand data types used.
- Estimate memory usage for optimization.

In [27]:
df.dtypes  # Displays the data type of each column
df["price"] = df["price"].astype(float)
df.describe()
df.describe(include= "all")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

### **Accessing Databases with Python**

Databases are essential for storing and retrieving large amounts of structured data. Python provides tools to connect to databases, query data, and fetch results using **SQL APIs and Python DB API**.

---

### **1. How Python Connects to Databases**
To interact with a database using Python, we use **API (Application Programming Interface) calls**. The process works as follows:
1. The **Python script** communicates with the **Database Management System (DBMS)** using an API.
2. SQL queries are sent to the database through **function calls** in the API.
3. The database **executes** the query and **returns results** to Python.

A **SQL API** allows Python applications to send SQL commands to the database and retrieve query results. The **Python DB API** is a standard that enables Python to work with multiple database systems using a common interface.

---

### **2. Python DB API Concepts**
The Python DB API defines two key objects for working with databases:
1. **Connection Object** – Used to **connect to the database** and manage transactions.
2. **Cursor Object** – Used to **execute SQL queries** and fetch results.

---

### **3. Methods for Database Interaction**
Python provides several methods to interact with databases:

#### **Connection Methods**
- `connect()` – Establishes a connection to the database.
- `commit()` – Saves changes made to the database.
- `rollback()` – Reverts changes if an error occurs.
- `close()` – Closes the database connection.

#### **Cursor Methods**
- `cursor()` – Creates a cursor to execute SQL queries.
- `execute()` – Runs an SQL command.
- `fetchone()` – Retrieves a single row from the result.
- `fetchall()` – Retrieves all rows from the result.

---

### **4. Example: Connecting to a Database in Python**
Here’s a simple example of using **SQLite**, a lightweight database, to execute a query:

```python
import sqlite3  # Import database module

# Step 1: Connect to the database
connection = sqlite3.connect("my_database.db")

# Step 2: Create a cursor object
cursor = connection.cursor()

# Step 3: Execute a query
cursor.execute("SELECT * FROM employees")

# Step 4: Fetch results
results = cursor.fetchall()

# Step 5: Close the connection
connection.close()

# Print results
for row in results:
    print(row)
```
This script:
1. **Connects** to an SQLite database.
2. **Creates a cursor** to run SQL queries.
3. **Executes a SELECT query** to retrieve all employee records.
4. **Fetches and prints** the results.
5. **Closes the connection** to free resources.

---

### **5. Best Practices for Database Access**
- **Always close connections** after use to free up system resources.
- **Use transactions** (`commit()` and `rollback()`) to ensure data consistency.
- **Handle errors gracefully** by using `try-except` blocks when querying databases.

By following these steps, we can efficiently interact with databases using Python, making it easier to store, manage, and analyze data.

In [45]:
#kaggle data set for laptop pricing
import numpy as np
url = file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"
df = pd.read_csv(url, header = None)
df.head(5)
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df.columns = headers
df.head(12)
df.replace('?',np.nan, inplace = True)
df.dtypes
df.describe()
df.describe(include= "all")
df.info()
path = "C:/Users/priya/Downloads/Skills $ certificates/Data analysis using Python/automobile/laptoppricing.csv"
df.to_csv(path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      238 non-null    object
 1   Category          238 non-null    int64
 2   Screen            238 non-null    object
 3   GPU               238 non-null    int64
 4   OS                238 non-null    int64
 5   CPU_core          238 non-null    int64
 6   Screen_Size_inch  234 non-null    object
 7   CPU_frequency     238 non-null    float64
 8   RAM_GB            238 non-null    int64
 9   Storage_GB_SSD    238 non-null    int64
 10  Weight_kg         233 non-null    object
 11  Price             238 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.4+ KB

In [2]:
import pandas as pd
import numpy as np
url = "C:/Users/priya/Downloads/Skills $ certificates/Data analysis using Python/automobile/imports-85.data" #local
# url2= "https://archive.ics.uci.edu/ml/machine-learningdatabases/autos/imports-85.data" #online
df = pd.read_csv(url, header=None)

df.head(5)
df.tail(5)
headers = ["symboling","normalized-losses","make", "fuel-type", "aspiration",
           "num-of-doors", "body-style", "drive-wheels", "engine-location",
           "wheel-base", "length", "width","height","curb-weight",
           "engine-type","num-of-cylinders","engine-size", "fuel-system","bore","stroke",
           "compression-ratio","horsepower","peak-rpm","city-mpg",
           "highway-mpg","price"]
df.columns = headers
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Identify and handle missing values
Identify missing values
Convert "?" to NaN
In the car data set, missing data comes with the question mark "?". We replace "?" with NaN (Not a Number), Python's default missing value marker for reasons of computational speed and convenience. 
Use the function:
.replace(A, B, inplace = True) 
to replace A by B.

In [3]:
# replace "?" to NaN
df.replace('?',np.nan, inplace=True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Evaluating for Missing Data
The missing values are converted by default. Use the following functions to identify these missing values. You can use two methods to detect missing data:

.isnull()
.notnull()

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

"True" means the value is a missing value while "False" means the value is not a missing value.

In [4]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Count missing values in each column
Using a for loop in Python, you can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the data set. In the body of the for loop the method ".value_counts()" counts the number of "True" values.

In [7]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
symboling
False    205
Name: count, dtype: int64
normalized-losses
normalized-losses
False    164
True      41
Name: count, dtype: int64
make
make
False    205
Name: count, dtype: int64
fuel-type
fuel-type
False    205
Name: count, dtype: int64
aspiration
aspiration
False    205
Name: count, dtype: int64
num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64
body-style
body-style
False    205
Name: count, dtype: int64
drive-wheels
drive-wheels
False    205
Name: count, dtype: int64
engine-location
engine-location
False    205
Name: count, dtype: int64
wheel-base
wheel-base
False    205
Name: count, dtype: int64
length
length
False    205
Name: count, dtype: int64
width
width
False    205
Name: count, dtype: int64
height
height
False    205
Name: count, dtype: int64
curb-weight
curb-weight
False    205
Name: count, dtype: int64
engine-type
engine-type
False    205
Name: count, dtype: int64
num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64
engine-size
engine-size
False    205
Name: count, dtype: int64
fuel-system
fuel-system
False    205
Name: count, dtype: int64
bore
bore
False    201
True       4
Name: count, dtype: int64
stroke
stroke
False    201
True       4
Name: count, dtype: int64
compression-ratio
compression-ratio
False    205
Name: count, dtype: int64
horsepower
horsepower
False    203
True       2
Name: count, dtype: int64
peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64
city-mpg
city-mpg
False    205
Name: count, dtype: int64
highway-mpg
highway-mpg
False    205
Name: count, dtype: int64
price
price
False    201
True       4
Name: count, dtype: int64